@import "tailwindcss";

@layer base {
  * {
    border-color: rgb(226 232 240 / 0.2);
  }
  
  body {
    background-color: rgb(248 250 252);
    color: rgb(15 23 42);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .dark body {
    background-color: rgb(15 23 42);
    color: rgb(241 245 249);
  }
}

@layer utilities {
  /* Custom scrollbar */
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgb(241 245 249);
  }
  
  .dark .scrollbar-thin::-webkit-scrollbar-track {
    background-color: rgb(30 41 59);
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(203 213 225);
    border-radius: 9999px;
  }
  
  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(71 85 105);
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgb(148 163 184);
  }
  
  .dark .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgb(100 116 139);
  }
}
